<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    I'm a 2nd year undergraduate at the University of California Santa Barbara studying mathematics and computer science in the College of Creative Studies. I work with Dr. Paul J. Atzberger here at UCSB on utilizing machine learning techniques in differential equations. My interests are definitely scattered but broadly relate to mathematics & computer science, philosophy, rubik's cubes, and badminton. I love to talk to new people, so if you think we could have interesting conversation, please reach out!
</div>