---
layout: default
---

  <div id="page">
    <h2>Blog Posts</h2>
    
    <nav class="nav">
      <ul class="nav-list-blog-posts">
        <li class="nav-item">
          <a href="{{ site.url }}/blog_posts">date</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.url }}/categories">category</a>
        </li>
      </ul>
    </nav>

    <article class="page-content">
      {{ content }}
    </article>

  </div><!-- end page content -->


  {% if site.owner.disqus-shortname and page.comments == true %}
  <div id="disqus_thread"></div>
  {% include disqus.html %}
  {% endif %}
